.venue-form-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-height: 90vh;
  overflow: scroll;
}

.venue-form-back-btn {
  background: #ff5a5f;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.venue-form-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.venue-form-message {
  text-align: center;
  color: green;
  margin-bottom: 10px;
}

.venue-form {
  display: flex;
  flex-direction: column;
}

.venue-form-label {
  font-weight: bold;
  margin-top: 10px;
}

.venue-form-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 5px;
}

.venue-form-checkbox-group {
  display: flex;
  flex-direction: column;
}

.venue-form-checkbox {
  margin-top: 5px;
  display: flex;
  align-items: center;
  align-self: self-start;
  /* width: 100%; */
  /* border: 3px solid red; */

}

.venue-form-checkbox input {
  margin-right: 10px;
}

.venue-form-submit-btn {
  background: #007bff;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.venue-form-submit-btn:hover {
  background: #0056b3;
}
